.test {
  text-align: center;
  position: absolute;
  background-color: #151515;
  border-top: 1px solid white;
  width: auto;
  top: 29.5em;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
}

.top_area {
  text-align: center;
  margin-top: 4em;
  z-index: 1;
}



.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 4.5em;
  margin: .3em 0em 0em 0em;
  z-index: 1;
  text-transform: capitalize;
}

.line {
  border-bottom: solid white .1em;
  width: 23em;
  border-color: #1feee2;
  margin: 0em auto 0em auto;
  transition: ease-in-out 500ms;
  animation: grow ease-in-out 2s alternate;
}

@keyframes grow {
  0% {
    width: 0em;
  }
  90% {
    width: 23em;
  }
}

/***************** MAIN AREA ******************/

.main_area {
  margin-top: 6em;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

.content {
  padding: 0em 4em 1em 4em;
  background-color: #0F0F0F;
  border: #ffffff46 .1px solid;
  margin: 0em .5em 0em .5em;
  transition: ease-in-out 300ms;
  z-index: 1;
  animation: boxlight ease-in-out 2s alternate-reverse infinite;
}

@keyframes boxlight {
  0%{ border: transparent solid .1em; }
  100%{ border: #ffffff46 solid .1em;}
}

.icon {
  width: 20px;
  padding: 2.3em;
  background-color: transparent;
  margin: 4em 1.7em 3.7em 1.7em;
  border: .1em solid #ffffff6d;
  transition: ease-in-out 300ms;
  z-index: 1;
}

.icon2 {
  width: 20px;
  padding: 2.3em;
  background-color: transparent;
  margin: 4em 1.7em 3.7em 1.7em;
  border: .1em solid #1feee26d;
  transition: ease-in-out 300ms;
  z-index: 1;
}

.content_title {
  margin: 0em;
  background-color: transparent;
  text-transform: uppercase;
  line-height: .8em;
  font-size: 1.1em;
  z-index: 1;
}

.content_subtitle {
  background-color: transparent;
  font-size: .6em;
  font-weight: 200;
  z-index: 1;
}

/***** Hover */

.content:hover {
  border: #ffffffea .1px solid;
  box-shadow: 0px 0px 7px 5px inset #00000087;
  -webkit-box-shadow: 0px 0px 7px 5px inset #0000007e;
  -moz-box-shadow: 0px 0px 7px 5px inset #0000007e;
  z-index: 1;
}

.icon2:hover {
  border: .1em solid #1feee4cd;
  z-index: 1;
}

/***************** BOTTOM AREA ******************/

.bottom_area {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.bottom_content {
  text-align: center;
  background-color: transparent;
  z-index: 1;
}

.bottom_box {
  padding: 0em .1em .1em .1em;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #0D0D0D, #ffffff);
  margin: 1em 8em;
  z-index: 1;
}

.bottom_innerbox {
  padding: .8em 6.8em;
  background-color: #151515;
  z-index: 1;
}

.bottom_p {
  font-size: .9em;
  font-weight: 300;
  background-color: #151515;
  z-index: 1;
}

.green_dot {
  color: #1feee2;
  background-color: transparent;
  z-index: 1;
}

.typist {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;
  font-style: italic;
  font-weight: 200;
}

.footer {
  display: inline-block;
}

.footer1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #cccccc;
  text-align: center;
  font-size:.5em ;
  padding-bottom: .8em;
}