.top_area {
  text-align: center;
  margin-top: 4.5em;
}

.title {
height: 56px;
font-family: Exo;
font-weight: bold;
font-size: 50px;
color: #FFFFFF;
margin: 0px;
}

.subtitle {
  font-family: Exo;
  font-style: italic;
  margin: 0px;
}

.main_area {
  margin-top: 4em;
  display: flex;
  text-align: center;
}

.content {
  padding: 2em;
  border:#1feee47b .1em solid;
  margin: 0em 1em 0em 1em;
}

.icon {
  width: 20px;
  filter: brightness(250%);
}